node_modules/
dist/
half-digit-classifier/inference/node_modules/
half-digit-classifier/inference/dist/
half-digit-classifier/train/.venv/
half-digit-classifier/train/__pycache__/
half-digit-classifier/filtered-source-digits/
*.tar.gz
.git/
